{
     "branches": [
       { "name": "main", "channel": "stable", "tagFormat": "v${env.VERSION}" },
       { "name": "test", "channel": "beta", "tagFormat": "beta-${env.VERSION}" }
     ],
     "plugins": [
       "@semantic-release/commit-analyzer",
       "@semantic-release/release-notes-generator",
       "@semantic-release/changelog",
       "@semantic-release/npm",
       "@semantic-release/git"
     ]
   }
